<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Film Registration</title>
</head>
<body>
    <header>
        <h1>Film Registration</h1>
    </header>
<div class="container">
    <div id="formAddMovies">

        <label for="movie-name">Movie name: </label>
        <input type="text" name="name" id="movie-name"> 

        <label for="movie-duration">Movie duration: </label>
        <input type="text" name="duration" id="movie-duration">

        <label for="movie-synopsis">Movie synopsis: </label>
        <input type="text" name="synopsis" id="movie-synopsis">        
        <label for="movie-gender">Movie gender: </label>
        <input type="text" name="gender" id="movie-gender">

        <input type="submit" value="Register">

    </div>
</div>


</body>
</html>