
.container {
    width: 100vw;
    height: 100vh;
    background: #85b8ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formAddMovies {
    width: 15vw;
    height: 40vh;
    background: #fff;

}
body {
    margin: 0px;

}
label {
    display: block;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

input {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;

    border-radius: 2em;
    border-style: ;
}